{% extends 'navbar.html' %}

{% block content %}
<h1>Liste des équipes</h1>

<div class="container-fluid mt-3">
    <div class="row-9">


        {% for equipe in equipes %}
        <div id='equipes' class="col-lg-9 mx-auto" style="margin:5px;">
            <div class="row mx-auto">
                <div class="card" id={{equipe.id}} style="width:350px;border:black solid 1px;margin:5px;">
                    <a href="{% url 'detail_equipe' equipe.id %}">{{ equipe.nom }}</a>
                    ({{ equipe.membres.count }} membres)
                    <div style="width: 350px;">
                        <a href="{% url 'detail_equipe' equipe.id %}" class="btn btn-primary">Voir détails</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <li>Aucune équipe n'a été trouvée.</li>

        {% endfor %}




    </div>
</div>

{% endblock %}